.range-slider {
  position: relative;
  margin: 50px 0 30px;
}

.slider-track {
  height: 6px;
  background-color: #ccc;
}

.slider-progress {
  height: 6px;
  background-color: #09f;
}

.slider-thumb {
  position: absolute;
  top: -14px;
  width: 32px;
  height: 32px;
  transform: translate(-50%, 0%);
  background-color: #09f;
  border-radius: 50%;
  cursor: pointer;
}

.slider-thumb > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
}
